@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&family=Montserrat:wght@500&family=Roboto+Slab&display=swap');
body,html{
    height: 95vh;
    margin: 0;
    font-family: "Montserrat","Grandstander","Roboto Slab",Arial, Helvetica, sans-serif;
}
body{
    background: -moz-linear-gradient(45deg,  #0498fb 0%, #e66cb2 45%, #e56cb2 100%);
    background: -o-linear-gradient(45deg,  #0498fb 0%, #e66cb2 45%, #e56cb2 100%);
    background: -webkit-linear-gradient(45deg,  #0498fb 0%, #e66cb2 45%, #e56cb2 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
aside{
    display: grid;
    color: #ffffff;
    grid-template-columns: auto 40px;
    padding: 2em;
}
img{
    width: 30px;
    cursor: pointer;
}
figure{
    margin: 0;
}
figcaption{
    font-size: 1.3em;
    font-weight: bold;
}
nav{
    background: #ffffff;
}
.active{
    position: absolute;
    display: block;
    background: #ffffff;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
}
ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255, 255, 255,0.35);
    color: #000000;
}
ul li a:hover{
    transform: scale(1.1);
    background-color: #3190C1;
}
main{
    background: #ffffff;
    padding: 1em 1.4em;
}
h1{
    margin: 0;
}
p{
    font-size: 1.1em;
    line-height: 1.5em;
}
.cta{
    display: block;
    color: #ffffff;
    background: #3190C1;
    padding: 8px 50px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}
@media only screen and (min-width: 768px){
    body{
        display: grid;
        grid-template-columns: 30% auto;
        padding: 2em;
    }
    img{
        display: none;
    }
    aside{
        background:#93A8C1 ;
        grid-template-columns: auto;
        grid-template-rows: 30% auto;
        padding: 0;
    }
    main{
        padding: 4em;
        background: #ffffff url(../media/bg.png) no-repeat bottom right;
        background-size: 80%;
        
    }
    #avatar{
        
        border-radius: 50%;
        background: #ffffff url(../media/avatar.png) no-repeat center;
        background-size: 135%;
        width: 100px;
        height: 100px;
        margin: 2em auto 1em auto;
    }
    figcaption{
        text-align: center ;
        color: #000000;
    }
    ul{
        display: block;
        margin-top: 2em;
        position: relative !important;
        background:none !important;
        width: 100% !important;
    }
    ul li a:hover{
        background-color: #3190C1;
    }
    nav{
        background: none;
    }
    .cta{
        display: inline-block;
        font-size: 1.3em;
        padding: .8em 3em;
    }
    h1{
        font-size: 3em;
        margin-top: 2em;
    }
    p{
        font-size: 1.5em;
    }
}
